body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.user-profile-container {
  height: 100vh;
  display: grid;
  place-items: start center;
  background-color: #1a1a1a;
  padding-top: 60px; /* Adjust based on your Navbar height */
}

.user-profile {
  width: 100%;
  max-width: 700px;
  padding: 20px;
  background-color: #2b2b2b;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

.user-profile-form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
}

.image-column {
  display: grid;
  place-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
}

.profile-image {
  border-radius: 20%;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.data-column {
  display: grid;
  gap: 15px;
}

.form-group {
  display: grid;
  gap: 5px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #555;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  cursor: not-allowed;
}

.submit-btn {
  background-color: #3498db;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
  justify-self: start;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.submit-btn:hover {
  background-color: #2980b9;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.submit-btn:active {
  background-color: #1f6399;
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .user-profile-form {
    grid-template-columns: 1fr;
  }

  .image-column {
    max-width: 250px;
    justify-self: center;
  }

  .profile-image {
    max-width: 200px;
  }

  .submit-btn {
    width: 100%;
    padding: 14px;
    justify-self: stretch;
  }
}
