.navbar {
  height: 80px;
  width: 100%;
  background: #1e1e1e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-size: 1.2rem;
}

.nav-logo {
  width: 4rem;
  height: auto;
  border-radius: 20%;
  object-fit: contain;
}

.nav-links {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
  list-style: none;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: white;
  transition: 0.3s all;
}

.nav-link:hover {
  color: red;
}

.nav-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #000, #333);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .nav-links.nav-active {
    transform: translateX(0);
    display: flex;
    flex-direction: column;
  }

  .nav-link {
    font-size: 24px;
    padding: 20px 0;
  }

  .nav-icon {
    display: block;
    z-index: 11;
  }
}
