.navbar {
  height: 80px;
  width: 100%;
  background: #1e1e1e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-size: 1.2rem;
}

.icon-burgermenu-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.nav-hamburgericon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
  border: none;
  position: relative;

  &.open {
    z-index: 10;
  }
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: auto;
  border-radius: 20%;
  object-fit: contain;

  &.open {
    z-index: 10;
  }
}

.panel {
  max-width: 20rem;
  background-color: #1e1e1e;
  background-size: 117px 188px;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.34, 1.01);
  position: fixed;
  z-index: 5;
  left: -100%;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  padding: 4em 2em 2em 2em;
  display: flex;

  &.open {
    visibility: visible;
    width: 100%;
    left: 0;
    opacity: 1;
  }
}

.nav-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  cursor: pointer;
}

.nav-link {
  margin: 1rem 0;
  text-decoration: none;
  color: white;
  transition: 0.3s all;
}

.nav-link:hover {
  color: #3498db;
}

@media (max-width: 768px) {
  .nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
  }
}
